#root {
    /* max-width:px; */
    margin: 0 auto;
    padding: 0 0rem;
}

    
/* in your CSS */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-muted);
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}